@import "tailwindcss";

:root {
  --background: ;
  --foreground: #2c2c2c;
}

@theme {
  --color-background: #1e1e1e;
  --color-foreground: #2c2c2c;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}
